/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
   background-color: #D3D3D3;
  color: #fff;
  padding: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Add padding to the content area to create space below the fixed navigation */
.container {
  padding-top: 60px; /* Adjust this value to match the height of the navigation bar */
}



/* About Section */
.about-section {
  padding: 50px 0;
  text-align: center;
}

.section-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-details {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-contact a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

/* Projects Section */
.projects-section {
  padding: 50px 0;
  text-align: center;
}

.projects-section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.project {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.project-title {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Contact Section */
.contact-section {
  background-color: #f1f1f1;
  padding: 50px 0;
  text-align: center;
}

.contact-section-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-links .btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* blog page */
.blog-post {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  color: #333;
}

.post-content {
  color: #666;
}

.back-link {
  display: block;
  margin-top: 20px;
  color: #333;
  text-decoration: none;
}


/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
